@import "partials/mixins";
@import "partials/params";
@import "partials/reset";
@import "partials/fonts.scss";
// @font-face {
//   font-family: "lbet-ban";
//   src: url(../fonts/LBetBannerMt-Bold.woff2) format("woff2"),
//     url(../fonts/LBetBannerMt-Bold.woff) format("woff");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "lbet-ban";
//   src: url(./fonts/LBetBannerMt-Black.woff2) format("woff2"),
//     url(./fonts/LBetBannerMt-Black.woff) format("woff");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "lbet-mt";
//   src: url(./fonts/LBetSTDMT-Medium.woff2) format("woff2"),
//     url(./fonts/LBetSTDMT-Medium.woff) format("woff");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "lbet-mt";
//   src: url(./fonts/LBetSTDMT-Bold.woff2) format("woff2"),
//     url(./fonts/LBetSTDMT-Bold.woff) format("woff");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "lbet-std";
//   src: url(./fonts/LBetSTDNus-Light.woff2) format("woff2"),
//     url(./fonts/LBetSTDNus-Light.woff) format("woff");
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "lbet-std";
//   src: url(./fonts/LBetSTDNus-Medium.woff2) format("woff2"),
//     url(./fonts/LBetSTDNus-Medium.woff) format("woff");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "lbet-std";
//   src: url(./fonts/LBetSTDNus-Bold.woff2) format("woff2"),
//     url(./fonts/LBetSTDNus-Bold.woff) format("woff");
//   font-weight: bold;
//   font-style: normal;
//   font-display: swap;
// }

html,
body {
  @include clear;
  width: 100%;
  color: $font-color;
  background-color: black;
  font-family: "lbet-std";
  font-size: 16px;
  @media (max-width: 850px) {
    font-size: 15px;
  }
  @media (max-width: 794px) {
    font-size: 13px;
  }
  @media (max-width: 696px) {
    font-size: 12px;
  }
  @media (max-width: 632px) {
    font-size: 11px;
  }
  @media (max-width: 580px) {
    font-size: 10px;
  }
  @media (max-width: 532px) {
    font-size: 9px;
  }
  @media (max-width: 475px) {
    font-size: 8px;
  }
  @media (max-width: 430px) {
    font-size: 7px;
  }
  @media (max-width: 375px) {
    font-size: 6px;
  }
  @media (max-width: 363px) {
    font-size: 6px;
  }
}

.pop_up_mobile {
  position: relative;
  min-width: 320px;
  max-width: 934px;
  margin: 0 auto;
  z-index: 11;
}

.mobile_content {
  position: relative;
  // display: flex;
  min-height: 100vh;
  padding: 5.5rem 0;
  background-color: #ffff;
  z-index: 7;
}
.shadow {
  box-shadow: 0 5px 20px #6182ac;
}
img {
  display: block;
  max-width: 100%;
}

.card_pay {
  &.tb {
    background-color: #00abed;
  }
  &.bg {
    background-color: #f26724;
  }
  &.ld {
    background-color: #525d65;
  }
}

input {
  font-family: "lbet-std";
  background: none;
  border: none;
  outline: none;
}
.map_content {
  width: 100%;
  height: 100vh;
}

.provider_item {
  position: relative;
  width: 100%;
  margin-bottom: 2.375rem;
  border: 1px solid #9aa1b2;
  border-radius: 1.25rem;
  cursor: pointer;
  transition: all 1s ease;
  z-index: 5;
  .collapsible_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    padding: 1rem;
    .banking_provider_img {
      height: 57px;
      img {
        height: 57px;
        width: auto !important;
      }
    }

    .banking_provider_img {
      width: 60%;
    }
    .right {
      width: 20%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .collapsible_body {
    padding: 0 20px;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    height: 0;
    transition: 0.2s;
  }
  &.active {
    .collapsible_body {
      height: auto;
    }
  }
}

.background {
  position: fixed;
  width: 934px;
  height: 50px;
  top: 0;
  background-color: #000000;
  z-index: 8;
}
